extends ../layout/layout

block content
	div(style="height:100%")
		div(ng-view='' style="height:100%")
	!= js('base/include.js')
	!= js('security/include.js')
	!= js('shared/include.js')
	!= js('CBS/include.js')