extends ../layout/layout

block content
	.row.psea-app
		include ../CBS/index
		.col-md-12(ng-view='')
	!= js('base/include.js')
	!= js('security/include.js')
	!= js('shared/include.js')
	!= js('CBS/include.js')