.div.side-menu-container
    .list-group
        a.list-group-item(href="/profile-listing") Geo Criteria 
        a.list-group-item(href="") Quick Pick
        a.list-group-item(href="") Range Criteria
        a.list-group-item(href="") Check Criteria