.div.side-menu-container
    .list-group
        span.list-group-item
            div.side-menu-image-conatiner
                img(src="/images/psea-assets/geo-selected/geo-selected.png") 
            a(href="/profile-listing") Geo Criteria 
        span.list-group-item
            div.side-menu-image-conatiner
                img(src="/images/psea-assets/quick/quick.png") 
            a(href="/profile-listing") Quick Pick 
        span.list-group-item
            div.side-menu-image-conatiner
                img(src="/images/psea-assets/range/range.png") 
            a(href="/profile-listing") Range Criteria 
        span.list-group-item
            div.side-menu-image-conatiner
                img(src="/images/psea-assets/check/check.png") 
            a(href="/profile-listing") Check Criteria 