.container-fluid
    .app-container(style='padding-top:53px; margin-top:20px')
        .row
            .col-md-3
                include ../shared/i_SideProfileView
            .col-md-9.profile-container
                .row
                    .col-md-4(ng-repeat='profile in profiles' ng-if="profile.cbSprofileId != id")
                        .panel.panel-default.profile
                            .panel-heading.profile-heading 
                                a(href="/profiles/{{profile.cbSprofileId}}/{{profile.homeHierarchyId}}/criteria" ng-click="changeProfile(profile)"){{profile.cbSprofileName}}
                            .panel-body.profile-body
                                span 
                                    em Last accessed some days back
            button.btn.btn-success.btn-lg.pull-right(type="button" data-toggle='modal', data-target='#createProfile' ng-click="modalInstance()") Create New Profile
