.row
    .col-md-4
        include Views/iSideProfileView
        include Views/iSideMenuView 
    //photo
    block content
        //include Views/iProfileListingView
        //include Views/iCreateProfileView
        