.modal-header(data-ng-hide='modalCaption == null || modalCaption == ""' style='background: #20b6ff; border-radius: 5px 5px 0px 0px;padding:20px 10px')
	h4.modal-title(style='font-size:24px;color:white;display:inline-block;width:97%' compile-template ng-bind-html='modalCaption | html')
	i.fa.fa-times(style='color:white;cursor:pointer;font-size:20px;' ng-click='cancel()')
