.container-fluid
    .app-container(style='padding-top:53px')
        .row
            powerbi-report.powerbi-frame--dotted(embed-url='report.pbIembedURL', access-token='report.pbiAccessToken', reportid='report.pbIreportId', options='report.options')
