.col-md-8
    .row
        .panel.panel-default(ng-repeat="type in types" ng-if="type.group1Count > 0")
            .panel-heading
                .panel-title {{type.caption}}
            .panel-body
                .row
                    .col-md-4(ng-repeat="option in type.options|filter: {selected : true}")
                        span {{option.caption}}
    .row
        ul.list-group
            .col-md-4(ng-repeat="quickPickType in quickPickTypes" ng-if="quickPickType.selected")
                li.list-group-item {{quickPickType.caption}}

    .row(ng-repeat="group in groups" ng-if="group.attributeCount > 0")
        .col-md-4 
            ul.list-group
                li.list-group-item(style="border:none;" ng-repeat="attribute in group.attributes" ng-if="attribute.selected") {{attribute.caption}}
        .col-md-2.range-criteria-percentage-value-container#retrieved-value
            span{{attribute.value|number}}
        .col-md-1.range-criteria-percentage-input-container
            span {{attribute.minimumPercentage}}
        .col-md-2.range-criteria-percentage-value-container
            span {{attribute.minValue|number:2}}
        .col-md-1.range-criteria-percentage-input-container
            span {{attribute.maximumPercentage}}
        .col-md-2.range-criteria-percentage-value-container
            span {{attribute.maxValue|number:2}}
