.row
    .col-md-12
        ul.nav.nav-pills#criteria-nav-pills
            li(role="presentation" ng-repeat="criteria in master" ng-class="{'active':criteria.selected}" ng-click="selectCriteria(criteria)") 
                a(href="" style="display:inline") {{criteria.id}}
.row#geo-criteria-dashboard(ng-if="currentSelectedCriteria === 'Geo-Criteria'")
    .col-md-12
        .panel.panel-default(ng-repeat="type in types" ng-if="type.group1Count > 0")
            .panel-heading
                .panel-title {{type.lookupName}}
            .panel-body
                .row
                    .col-md-4(ng-repeat="option in type.options|filter: {selected : true}")
                        span {{option.hierarchyName}}
.row#quick-pick-dashboard(ng-if="currentSelectedCriteria === 'Quick-Pick'")
    .col-md-12
        .panel.panel-default
            .panel-heading
                .panel-title Quick-Pick
            .panel-body
                .row
                    .col-md-4(ng-repeat = "quickPickType in quickPickTypes" ng-if="quickPickType.selected")
                        span {{quickPickType.hierarchyName}}
.row#range-criteria-dashboard(ng-if="currentSelectedCriteria === 'Range-Criteria'")
    .col-md-12
        .panel.panel-default(ng-repeat="rangeGroup in rangeGroups" ng-if="rangeGroup.selectedAttributeCount > 0")
            .panel-heading
                .panel-title {{rangeGroup.lookupName}}
            .panel-body
                .row(ng-repeat="attribute in rangeGroup.attributes|filter:{selected:true}")
                    .col-md-4
                        span {{attribute.attributeName}}
                    .col-md-2
                        span {{attribute.homeValue}}
                    .col-md-1
                        span {{attribute.minPercent}}
                    .col-md-2
                        span {{attribute.minValue}}
                    .col-md-1
                        span {{attribute.maxPercent}}
                    .col-md-2
                        span {{attribute.maxValue}}