.col-md-8
    .row
        .col-md-12
            ul.nav.nav-pills
                li(role="presentation" ng-repeat="criteria in master" ng-class="{'active':criteria.selected}" ng-click="selectCriteria(criteria)") 
                    a(href="" style="display:inline") {{criteria.id}}
    .row#geo-criteria-dashboard(ng-if="currentSelectedCriteria === 'geo-criteria'")
        .col-md-12
            .panel.panel-default(ng-repeat="type in types" ng-if="type.group1Count > 0")
                .panel-heading
                    .panel-title {{type.caption}}
                .panel-body
                    .row
                        .col-md-4(ng-repeat="option in type.options|filter: {selected : true}")
                            span {{option.caption}}
    .row#quick-pick-dashboard(ng-if="currentSelectedCriteria === 'quick-pick'")
        .col-md-12
            ul.list-group
                .col-md-4(ng-repeat="quickPickType in quickPickTypes" ng-if="quickPickType.selected")
                    li.list-group-item {{quickPickType.caption}}
        
    