.col-md-8
    .panel-group#accordian
            .panel.panel-default(ng-repeat="type in types")
                .panel-heading.clearfix
                    h4.panel-title.pull-left(style='padding-top:5px')
                        {{type.caption}}
                        label.text-muted &nbsp;({{getSelectedCount(type)}})
                    button.btn.btn-success.pull-right(ng-show='type.selected') Update
                    .form-inline.pull-right(ng-show="type.selected")
                        .form-group.col-lg-4
                            .form-group.has-feedback
                                input.form-control.search-box(type="text" id="search" ng-model="searchData" placeholder="{{type.id|uppercase}}" )
                                span.glyphicon.glyphicon-search.form-control-feedback
                    span.glyphicon.glyphicon-menu-down.pull-right(style='cursor:pointer;font-size:20px;' ng-if='!type.selected' ng-click='selectType(type)')
                .div(ng-class="{ 'panel-collapse collapse in' : type.selected, 'panel-collapse collapse': !type.selected}")
                    .panel-body
                        .row.checked-container(ng-show='type.group1Count > 0' style='padding:10px;{{type.group1Count > 0 && type.group2Count > 0 ? "border-bottom:1px solid lightgray" : ""}}')
                                .col-md-4(ng-repeat="option in type.options | filter: { group: 1, caption: searchData }" )
                                    input(type="checkbox"  ng-model="option.selected" ng-attr-id="{{option.caption}}")
                                    label(for="{{option.caption}}") &nbsp;{{option.caption}}
                        .row.unchecked-container(ng-show='type.group2Count > 0' style='padding:10px;')
                                .col-md-4(ng-repeat="option in type.options | filter: { group: 2, caption: searchData}" )
                                    input(type="checkbox" ng-checked="option.selected" ng-model="option.selected" ng-attr-id="{{option.caption}}")
                                    label.text-muted(for="{{option.caption}}") &nbsp;{{option.caption}}
    button.btn.btn-success.btn-lg.pull-right Select Profile