.row
    h1.text-center Quick Pick
    ul.list-group
        li.col-md-12.list-group-item.quick-types-list(ng-repeat="quickPickType in quickPickTypes")
            input.cbs-input-box(type="checkbox" ng-attr-id="{{quickPickType.hierarchyId}}" ng-checked="{{quickPickType.selected}}" ng-model="quickPickType.selected")
            label(for="{{quickPickType.hierarchyId}}" style="font-family:'Lato', sans-serif !important;") &nbsp; 
                span(ng-class="{'text-muted':!quickPickType.selected}") {{quickPickType.hierarchyName}}
button.btn.btn-success.btn-lg.pull-right#quick-pick-type(ng-click="updateQuickPickCount()") Apply