.col-md-8
    .row
        .col-md-12
            ul.nav.nav-pills.range-nav-pills
                li(role="presentation" ng-repeat="group in groups" ng-class="{'active':group.selected}" ng-click="selectGroup(group)")
                    a(href="" style="display:inline") {{group.caption}}
                    span.badge.badge-info{{getSelectedAttributesCount(group.attributes)}}
    .row.range-criteria-header-container
        .col-md-6
            #HOME-CRITERIA HOME DISTRICT
        .col-md-3
            #MINIMUM MINIMUM
        .col-md-3
            #MAXIMUM MAXIMUM
    .row.range-criteria-container(ng-repeat="attribute in selectedGroup.attributes")
        .col-md-4 
            ul.list-group
                li.list-group-item(style="border:none;")
                    input.cbs-input-box(type="checkbox" id="{{attribute.caption}}" ng-model="attribute.selected" ng-checked="attribute.selected")
                    label(for="{{attribute.caption}}" ng-class="{'text-muted':!attribute.selected}")&nbsp;&nbsp;{{attribute.caption}}
        .col-md-2.range-criteria-percentage-value-container#retrieved-value
            span(ng-class="{'text-muted':!attribute.selected}") {{attribute.value|number}}
        .col-md-1.range-criteria-percentage-input-container
            input.percentage-input(type="number" oninput="validity.valid||(value='');" min="0" step="0.1" ng-model="attribute.minimumPercentage" ng-disabled="!attribute.selected" ng-change="decreasePercentage(attribute)")
        .col-md-2.range-criteria-percentage-value-container
            form(name="minimumPercentageForm" )
                input.percentage-input(type="number" name="{{attribute.id}}" max="{{attribute.value}}" ng-model="attribute.minimumValue" ng-disabled="!attribute.selected")
            span.error-text(ng-show="minimumPercentageForm.{{attribute.id}}.$invalid") Should be less than {{attribute.value}}
        .col-md-1.range-criteria-percentage-input-container
            input.percentage-input(type="number" oninput="validity.valid||(value='');" min="0" step="0.1" ng-model="attribute.maximumPercentage" ng-disabled="!attribute.selected" ng-change="increasePercentage(attribute)")
        .col-md-2.range-criteria-percentage-value-container
            span {{attribute.maximumValue|number:2}}
    button.btn.btn-success.btn-lg.pull-right#quick-pick-type(ng-click="updateRangeCriteriaCount()") Apply