.app-container(style="padding-top:53px; margin-top:20px;")
    .row
        .col-md-3
            include ../shared/i_SideProfileView
            .div.side-menu-container
                .list-group
                    li.list-group-item(ng-repeat="link in links")
                        div.side-menu-image-conatiner
                            img(ng-src="{{link.selected ? link.imgSelected : link.img}}") 
                        a(ng-click="setLayout(link)" style="cursor:pointer;") {{link.caption}} 
        .col-md-9
            .div#content-holder
                .div(ng-repeat="view in views" ng-attr-id="{{view.id}}" ng-include="view.url" ng-if='view.selected')