extends ../../layout/ModalLayout
block content
	.form-group(style='padding:0px 0px 15px 0px')
		.col-md-4
			span.pull-left(style='line-height:30px;padding: 3px 0 0 5px') Email Address    
		.col-md-8
			input.input-md.form-control(type='email', ng-model='userMailId')
	