.row
	.col-md-6
		ul.nav.nav-pills#criteria-nav-pills
			li(role="presentation" ng-repeat="criteria in master" ng-class="{'active':criteria.selected}" ng-click="selectCriteria(criteria)") 
				a(href="" style="display:inline") {{criteria.id}}
	.col-md-3
		button.btn.btn-danger.btn-clear-criteria(ng-if="currentSelectedCriteria === 'Geo-Criteria'" ng-click="clearAllGeoCriteria()") Clear Geo-Criteria
		button.btn.btn-danger.btn-clear-criteria(ng-if="currentSelectedCriteria === 'Quick-Pick'" ng-click="clearAllQuickPick()") Clear QuickPick
		button.btn.btn-danger.btn-clear-criteria(ng-if="currentSelectedCriteria === 'Range-Criteria'" ng-click="clearAllRangeCriteria()") Clear Range-Criteria
	.col-md-3
		button.btn.btn-danger.btn-clear-criteria(ng-click="clearAllCriteria()") Clear All Criteria
#geo-criteria-dashboard.row(ng-if="currentSelectedCriteria === 'Geo-Criteria'")
	.col-md-12
		.panel.panel-default(ng-repeat="type in types" ng-if="getCriteriaHieracrhiesCount(type) > 0")
			.panel-heading
				.panel-title {{type.lookupName}}
			.panel-body
				.row
					.col-md-4(ng-repeat="option in type.options|filter: {selected : true}")
						span {{option.hierarchyName}}
.row#quick-pick-dashboard(ng-if="currentSelectedCriteria === 'Quick-Pick'")
	.col-md-12
		.panel.panel-default
			.panel-heading
				.panel-title Quick-Pick
			.panel-body
				.row
					.col-md-4(ng-repeat = "quickPickType in quickPickTypes" ng-if="profile[quickPickType.field] == true")
						span {{quickPickType.caption}} 
.row#range-criteria-dashboard(ng-if="currentSelectedCriteria === 'Range-Criteria'")
	.col-md-12
		.panel.panel-default(ng-repeat="rangeGroup in rangeGroups" ng-if="getCriteriaRangesCount(rangeGroup) > 0")
			.panel-heading
				.panel-title {{rangeGroup.lookupName}}
			.panel-body
				.row(ng-repeat="attribute in rangeGroup.attributes|filter:{selected:true}")
					.col-md-2
						span {{attribute.attributeName}}
					.col-md-3
						span.text-muted(ng-if="attribute.homeValue != null && attribute.homeValue != ''") Home Value:&nbsp;
						span {{attribute.homeValue}}
					.col-md-1
						span.text-muted(ng-if="attribute.minPercent != null && attribute.minPercent != ''") Min%:&nbsp;
						span {{attribute.minPercent}}
					.col-md-2
						span.text-muted(ng-if="attribute.minValue != null && attribute.minValue != ''") Min Value:&nbsp;
						span {{attribute.minValue}}
					.col-md-2
						span.text-muted(ng-if="attribute.maxPercent != null && attribute.maxPercent != ''") Max %:&nbsp;
						span {{attribute.maxPercent}}
					.col-md-2
						span.text-muted(ng-if="attribute.maxValue != null && attribute.maxValue != ''") Max Value:&nbsp;
						span {{attribute.maxValue}}