#accordian.panel-group
	.panel.panel-default.geo-criteria(ng-repeat="type in types")
		.panel-heading.clearfix(data-parent="#accordion" data-target="#{{type.lookupId}}" ng-click='selectType(type)')
			h4.panel-title.pull-left(style='padding-top:5px')
				{{type.lookupName}}
				label.text-muted &nbsp;({{getSelectedCount(type)}})
			button.btn.btn-success.pull-right(ng-show='type.selected' ng-click="updateGeoCriteriaCount(type)") Apply
			div.pull-right
				.form-inline(ng-show="type.selected")
					.form-group.has-feedback
						input.form-control.search-box(type="search" id="search" ng-model="searchData" placeholder="{{type.lookupName|uppercase}}" )
						span.glyphicon.glyphicon-remove.form-control-feedback(style="cursor:pointer" ng-click="omitSearchText()")
			span.glyphicon.glyphicon-menu-down.pull-right(style='cursor:pointer;font-size:20px;' ng-if='!type.selected' ng-click='selectType(type)')
		.panel-body(ng-attr-id="{{type.lookupId}}" ng-class="{ 'panel-collapse collapse in expanded' : type.selected, 'panel-collapse collapse': !type.selected}")
			.row.checked-container(ng-show='type.group1Count > 0' style='padding:10px;{{type.group1Count > 0 && type.group2Count > 0 ? "border-bottom:1px solid lightgray" : ""}}')
				.col-md-4(ng-repeat="option in type.options | filter: { group: 1}")
					input.cbs-input-box(type="checkbox" ng-model="option.selected" ng-attr-id="a_{{type.lookupId}}_{{option.hierarchyId}}")
					label.label-ellipsis(for="a_{{type.lookupId}}_{{option.hierarchyId}}") &nbsp;{{option.hierarchyName}}				 
			.row.unchecked-container(ng-show='type.group2Count > 0' style='padding:10px;')
				.col-md-4(ng-repeat="option in type.options | filter: { group: 2, hierarchyName: searchData}"  style="")
					input.cbs-input-box(type="checkbox" ng-model="option.selected" ng-attr-id="a_{{type.lookupId}}_{{option.hierarchyId}}")
					label.label-ellipsis.text-muted( for="a_{{type.lookupId}}_{{option.hierarchyId}}") &nbsp;{{option.hierarchyName}}