.row
	.col-md-10
		ul.nav.nav-pills.range-nav-pills
			li(role="presentation" ng-repeat="rangeGroup in rangeGroups" ng-class="{'active':rangeGroup.selected}" ng-click="selectRangeGroup(rangeGroup)" style='{{rangeGroup.selected ? "border-bottom:3px solid #C5CFDA" : ""}}')
				a(href="" style="display:inline;border-bottom:none") {{rangeGroup.lookupName}}
				span.badge.badge-info(style='width:40px;margin-bottom:12px;margin-top:5px;background-color:{{rangeGroup.selected ? "#02b6ff" : "lightgray"}}'){{getSelectedAttributesCount(rangeGroup.attributes)}}
	.col-md-2
		button.btn.btn-success.btn-lg.pull-right(ng-click="updateRangeCriteriaCount()") Apply
.row.range-criteria-header-container
	.col-md-6
		#HOME-CRITERIA HOME DISTRICT
	.col-md-3
		#MINIMUM MINIMUM
	.col-md-3
		#MAXIMUM MAXIMUM
.row.range-criteria-container(ng-repeat="attribute in selectedRangeGroup.attributes")
	.col-md-4 
		ul.list-group
			li.list-group-item(style="border:none;")
				input.cbs-input-box(type="checkbox" id="{{attribute.attributeId}}" ng-model="attribute.selected" ng-checked="attribute.selected")
				label(for="{{attribute.attributeId}}" ng-class="{'text-muted':!attribute.selected}")&nbsp;&nbsp;{{attribute.attributeName}}
	.col-md-2.range-criteria-percentage-value-container#retrieved-value
		span(ng-class="{'text-muted':!attribute.selected}") {{attribute.homeValue|number}}
	.col-md-1.range-criteria-percentage-input-container
		input.percentage-input(type="number" oninput="validity.valid||(value='');" min="0" step="0.1" ng-model="attribute.minPercent" ng-disabled="!attribute.selected" ng-change="decreasePercentage(attribute)")
	.col-md-2.range-criteria-percentage-value-container
		form(name="minimumPercentageForm" )
			input.percentage-input(type="number" name="{{'a' + attribute.attributeId}}" max="{{attribute.homeValue}}" ng-model="attribute.minValue" ng-disabled="!attribute.selected" ng-change="changeMinimumPercentage(attribute)")
		span.error-text(ng-show="minimumPercentageForm.{{'a' + attribute.attributeId}}.$invalid") Should be less than {{attribute.homeValue}}
	.col-md-1.range-criteria-percentage-input-container
		input.percentage-input(type="number" oninput="validity.valid||(value='');" min="0" step="0.1" ng-model="attribute.maxPercent" ng-disabled="!attribute.selected" ng-change="increasePercentage(attribute)")
	.col-md-2.range-criteria-percentage-value-container
		form(name="maximumPercentageForm")
			input.percentage-input(type="number" name="{{'a' + attribute.attributeId}}" min="{{attribute.homeValue}}" ng-model="attribute.maxValue" ng-disabled="!attribute.selected" ng-change="changeMaximumPercentage(attribute)")
		span.error-text(ng-show="maximumPercentageForm.{{'a' + attribute.attributeId}}.$invalid") Should be greater than {{attribute.homeValue}}
