.container-fluid
	.app-container(style='padding-top:53px; margin-top:20px')
		.row
			.col-md-3(ng-include='"/views/CBS/profiles/recentprofile/view"')
			.col-md-9.profile-container
				.row
					.col-md-4.pull-left(ng-repeat='profile in profiles' ng-if="recentProfile == null || profile.cbSprofileId != recentProfile.cbSprofileId")
						.panel.panel-default.profile
							.panel-heading.profile-heading 
								a(href="/profiles/{{profile.cbSprofileId}}") {{profile.cbSprofileName}}
							.panel-body.profile-body
								span 
									em {{$moment.fromNow(profile.lastAccessedAt)}}
			button.btn.btn-success.btn-lg.pull-right(type="button" data-toggle='modal', data-target='#createProfile' ng-click="openCreateProfilePopup()") Create New Profile
