.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
	.mdl-tabs__tab-bar
		a.mdl-tabs__tab.is-active(href='#starks-panel') Starks
		a.mdl-tabs__tab(href='#lannisters-panel') Lannisters
		a.mdl-tabs__tab(href='#targaryens-panel') Targaryens

