.container-fluid
	.app-container(style='padding-top:53px; margin-top:20px')
		.row
			.col-md-3(ng-include='"/views/CBS/profiles/recentprofile/view"')
			.col-md-9.profile-container
				.row
					.col-md-4.pull-left(ng-repeat="profile in profiles|orderBy:'-cbSprofileId'" ng-if="profile.active == true && (recentProfile == null || profile.cbSprofileId != recentProfile.cbSprofileId)" )
						.panel.panel-default.panel-profile-tile
							.panel-heading.profile-heading
								a(href="/profiles/{{profile.cbSprofileId}}") {{profile.cbSprofileName}}
								span.glyphicon.glyphicon-remove.pull-right.delete-profile(style="cursor:pointer" ng-click="deleteProfile(profile)")
							.panel-body.profile-body
								p.ellipsis {{profile.homeHierarchyName}}
								p 
									em {{$moment.fromNow(profile.lastAccessedTime)}}	
		.row
			.col-md-12
				button.btn.btn-success.btn-lg.pull-left(type="button" ng-click="openCreateProfilePopup()") Create New Profile
		.row(style="position:absolute;bottom:10px;width:95%")
			.col-md-9.col-md-offset-3(style="padding-left:20px;")
				#pagination