.container-fluid
    .app-container(style='padding-top:53px;margin-top:20px')
        .row
            .col-md-3(ng-include='"/views/CBS/profiles/recentprofile/view"')
            .col-md-9.profile-container
                .row(ng-repeat='report in reports')
                    h2 {{report.reportName}}
                    .col-md-4(ng-repeat='innerreport in reportTabs')
                        .panel.panel-default.profile
                            .panel-heading.profile-heading.ellipsis
                                a(href="/reports/{{innerreport.reportTabId}}"){{innerreport.tabName}}