.row(style="background-color:white")
    .col-md-4
        include ../views/iSideProfileView
        include ../views/iSideMenuView 
    //photo
    
    //include Views/iProfileListingView
    include ../views/iCreateProfileView
        