.div.profile-image-container
            .row
                .col-md-12(style="padding-bottom:90px;")
                    h1.text-left Welcome Back
            .row
                .col-md-12(style="padding-bottom:15px;")
                    span 
                        em My Recent Profile
            .row
                .col-md-12
                    h3 {{recentProfile.cbSprofileName}}
                    span Last accessed
            .row(style="padding-bottom:15px;")
                .col-md-12
            .row
                .col-md-6(style="padding:2px;")
                    button.btn.btn-primary.btn-lg(style="width:100%;" ng-click="populateAccess()") Analysis
                .col-md-6(style="padding:2px;")
                    button.btn.btn-primary.btn-lg(style="width:100%;") 
                        a(href="/details/{{recentProfile.cbSprofileId}}/{{recentProfile.homeHierarchyId}}" style="color:white") Criteria